.barra {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.barra > div {
  margin: 0 8px;
}

.resultado {
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resultado ul {
  list-style-type: none;
  padding: 0;
}

.resultado li {
  padding: 8px;
  cursor: pointer;
}

.resultado li:hover {
  background-color: #eee;
}
